<button class="theme-switch" (click)="theme.toggle()" [attr.aria-label]="isDark ? 'Switch to day mode' : 'Switch to night mode'">
    <div class="ts-outer">
        <div class="ts-inner">
            <div class="ts-highlight" [class.right]="!isDark"></div>
            <div class="ts-icons">
                <span class="ts-icon" [class.active]="isDark">
                    <img src="night.png" alt="Night" width="24" height="24" class="ts-icon-img" />
                </span>
                <span class="ts-icon" [class.active]="!isDark">
                    <img src="day.png" alt="Day" width="24" height="24" class="ts-icon-img" />
                </span>
            </div>
        </div>
    </div>
</button>
